/* h1 {
        color: white;
        text-align: center;
        padding-top: 50px;
    }

    .btn {
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        background-color: rgba(0,0,0,0.6);
        color: white;
        border: none;
        border-radius: 5px;
        text-decoration: none;
    } */